@model IEnumerable<Capa_Presentacion.Models.PrestamoEquipo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Editar.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="box-header">
                    <h3 class="box-title">PRESTAMOS DE EQUIPOS</h3>
                </div>
                <div class="box-body">
                    @Html.ActionLink(" Agregar", "Agregar", null, new { @class = "btn btn-success btn-sm fa fa-plus" })
                </div>
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CodigoPrestamoEquipo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NombreSolicitante)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CedulaSolicitante)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaIngreso)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaRespuesta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estado)
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodigoPrestamoEquipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreSolicitante)
                                        @Html.DisplayFor(modelItem => item.ApellidoSolicitante1)
                                        @Html.DisplayFor(modelItem => item.ApellidoSolicitante2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CedulaSolicitante)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaRespuesta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" Actualizar", "Actualizar", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fa fa-edit" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

