@model IEnumerable<Capa_Presentacion.Models.Usuario>

@{
    ViewBag.Title = "Usuario | BAL";
    string Rol = System.Web.HttpContext.Current.Session["Rol"] as String;
    if (Rol == "Administrador")
    {
        Layout = "~/Views/Shared/_Administrador.cshtml";
    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="box-header">
                    <h4 class="principal-texto">USUARIOS</h4>
                </div>
                <div class="box-body box box-info">
                    @if (Rol == "Administrador" || Rol == "Editar")
                    {
                        @Html.ActionLink(" Agregar", "Agregar", null, new { @class = "btn btn-success btn-sm fa fa-plus" })
                    }
                    else
                    {

                    }
                    <div>
                        <br />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cedula)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IdRol)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cedula)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                            @Html.DisplayFor(modelItem => item.Apellido1)
                                            @Html.DisplayFor(modelItem => item.Apellido2)
                                        </td>
                                        <td>
                                            @if (item.IdRol == 1)
                                            {
                                                @Html.Name("Administrador")

                                            }
                                            else if (item.IdRol == 2)
                                            {
                                                @Html.Name("Editar Servicios Bibliotecarios")
                                            }
                                            else if (item.IdRol == 3)
                                            {
                                                @Html.Name("Editar Consultas")
                                            }
                                            else if (item.IdRol == 4)
                                            {
                                                @Html.Name("Editar Consultas CIIE")
                                            }
                                            else if (item.IdRol == 5)
                                            {
                                                @Html.Name("Editar Consultas CEDIL")
                                            }
                                            else
                                            {
                                                @Html.Name("Consultar")
                                            }
                                        </td>
                                        <td>
                                            @if (Rol == "Administrador")
                                            {
                                                @Html.ActionLink(" Actualizar", "Actualizar", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fa fa-edit" })
                                                @Html.Name(" | ")
                                                <button type="button" onclick="PopupEliminar(@item.Id)" class="btn btn-danger btn-sm fa fa-trash-o" data-toggle="modal" data-target="#alertaEliminar">
                                                    Eliminar
                                                </button>
                                                @Html.Name(" | ")
                                                @Html.ActionLink(" Detalles", "Detalles", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-file-text" })
                                            }
                                            else if (Rol == "Editar")
                                            {
                                                @Html.ActionLink(" Actualizar", "Actualizar", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fa fa-edit" })
                                                @Html.Name(" | ")
                                                @Html.ActionLink(" Detalles", "Detalles", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-file-text" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink(" Detalles", "Detalles", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-file-text" })
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>









<!--Formulario para eliminar-->
@using (Html.BeginForm("Eliminar", "Usuario", FormMethod.Post, new { @id = "frmEliminar" }))
{
    @Html.Hidden("Id");
}
<!-- Ventana para eliminar  -->
<div class="modal fade" id="alertaEliminar" tabindex="-1" aria-labelledby="alertaEliminar" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Estas seguro que quieres eliminar este usuario?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" onclick="Eliminar()" class="btn btn-success">Sí</button>
            </div>
        </div>
    </div>
</div>

<script>
    function PopupEliminar(Id) {
        document.getElementById("Id").value = Id;
    }

    function Eliminar() {
        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();
    }
</script>