@using Capa_Presentacion.Models;
@model IEnumerable<Capa_Presentacion.Models.Consulta>

@{
    ViewBag.Title = "Consultas | BAL";
    string Rol = System.Web.HttpContext.Current.Session["Rol"] as String;
    if (Rol == "Administrador")
    {
        Layout = "~/Views/Shared/_Administrador.cshtml";
    }
    else if (Rol == "Administrador Servicios Bibliotecarios")
    {
        Layout = "~/Views/Shared/_AdministradorSB.cshtml";
    }
    else if (Rol == "Administrador Consultas")
    {
        Layout = "~/Views/Shared/_AdministradorConsulta.cshtml";
    }
    else if (Rol == "Administrador Consultas CIIE")
    {
        Layout = "~/Views/Shared/_AdministradorCIIE.cshtml";
    }
    else if (Rol == "Editar Servicios Bibliotecarios")
    {
        Layout = "~/Views/Shared/_EditarSB.cshtml";
    }
    else if (Rol == "Editar Consultas")
    {
        Layout = "~/Views/Shared/_EditarConsulta.cshtml";
    }
    else if (Rol == "Editar Consultas CIIE")
    {
        Layout = "~/Views/Shared/_EditarCIIE.cshtml";
    }
    else
    {

    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="box-header">
                    <h4 class="principal-texto">CONSULTAS PENDIENTES DEL DGDA</h4>
                </div>
                <div class="box-body box box-info">
                    <div>
                        <br />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CodigoConsulta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaIngreso)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Referido)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CodigoConsulta)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaIngreso)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Referido)
                                    </td>
                                    <td>
                                        @Html.ActionLink(" Tramitar", "Tramitar", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fa fa-edit" })
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
