@model IEnumerable<Capa_Presentacion.Models.Fraccion>

@{
    ViewBag.Title = "Fracciones | GDA";
    string Rol = System.Web.HttpContext.Current.Session["Rol"] as String;
    if (Rol == "Administrador")
    {
        Layout = "~/Views/Shared/_Administrador.cshtml";
    }
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="box-header">
                    <h4 class="principal-texto">FRACCIONES</h4>
                </div>
                <div class="box-body box box-info">
                    <button type="button" class="btn btn-success btn-sm fa fa-plus" data-toggle="modal" data-target="#alertaAgregar">
                        Agregar
                    </button>
                    <!-- Ventana para agregar fraccion  -->
                    <div class="modal fade" id="alertaAgregar" tabindex="-1" aria-labelledby="alertaAgregar" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h5 class="modal-title" id="exampleModalLabel">AGREGAR FRACCIÓN</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="@Url.Action("Agregar", "Fraccion")" id="frmGuardar" method="post">
                                        <div class="form-group">
                                            <label>Nombre</label>
                                            <input type="text" id="Nombre" name="Nombre" class="form-control" autocomplete="off" required />
                                        </div>
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <textarea id="Descripcion" name="Descripcion" class="form-control"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    <button type="button" onclick="Guardar()" class="btn btn-success">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <br />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descripcion)
                                        </td>
                                        <td>
                                            <button type="button" onclick="PopupEliminar(@item.Id)" class="btn btn-danger btn-sm fa fa-trash-o" data-toggle="modal" data-target="#alertaEliminar">
                                                Eliminar
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!--Formulario para eliminar-->
@using (Html.BeginForm("Eliminar", "Fraccion", FormMethod.Post, new { @id = "frmEliminar" }))
{
    @Html.Hidden("Id");
}
<!-- Ventana para eliminar  -->
<div class="modal fade" id="alertaEliminar" tabindex="-1" aria-labelledby="alertaEliminar" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Estas seguro que quieres eliminar esta fracción?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" onclick="Eliminar()" class="btn btn-success">Sí</button>
            </div>
        </div>
    </div>
</div>

<script>
    function PopupEliminar(Id) {
        document.getElementById("Id").value = Id;
    }

    function Eliminar() {
        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();
    }

    function Guardar() {
        var frmGuardar = document.getElementById("frmGuardar");
        frmGuardar.submit();
    }
</script>