@model IEnumerable<Capa_Presentacion.Models.Rol>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Direccion.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Nuevo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Rol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Rol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Actualizar", "Actualizar", new { id = item.IdRol }, new { @class = "btn btn-success btn-sm", style = "background:#f39c12; border-color:#f39c12" }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdRol }, new { @class = "btn btn-danger btn-sm", style = "background:#dd4b39; border-color:#dd4b39" })
        </td>
    </tr>
}

</table>
