@model Capa_Presentacion.Models.AuditoriaPrestamoEquipo

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Administrador.cshtml";
}
<div class="content">
    <div>
        <h4>Detalles auditoria prestamo de equipo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CodigoPrestamoEquipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CodigoPrestamoEquipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Accion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Accion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NombreSolicitante)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NombreSolicitante)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoSolicitante1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoSolicitante1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ApellidoSolicitante2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApellidoSolicitante2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CedulaSolicitante)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CedulaSolicitante)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Departamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Departamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TipoEquipo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TipoEquipo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Implementos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Implementos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EspecificacionImplementos)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EspecificacionImplementos)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GeneroSolicitante)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GeneroSolicitante)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>

        </dl>
    </div>
</div>

