@model IEnumerable<Capa_Presentacion.Models.ReportePA>

@{
    ViewBag.Title = "CantidadTipoUsuario";
    string Rol = System.Web.HttpContext.Current.Session["Rol"] as String;
    if (Rol == "Administrador")
    {
        Layout = "~/Views/Shared/_Administrador.cshtml";
    }
    else if (Rol == "Editar Servicios Bibliotecarios")
    {
        Layout = "~/Views/Shared/_EditarSB.cshtml";
    }
}
<div class="content">
    @Html.Raw(TempData["msg"])
    <h4 class="principal-texto">REPORTERIA DE PRÉSTAMOS AUDIOVISUALES</h4>
    <div class="box-body box box-success">
        <div class="row">
            <!--REPORTES DE CANTIDAD DE USUARIOS-->
            <br>
            <h4 class="principal-texto">Reportes de cantidad de metodos de ingreso por rangos de fecha</h4>
            <div class="box box-danger">
                <div class="col-lg-4">
                    <form action="@Url.Action("CantidadDepartamentoFechaIngresoPA", "ReportePrestamoAudiovisual")" id="frm" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h4 class="titulo-reporte">Reporte por fechas de ingreso</h4>
                            </div>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Ingreso</label>
                            <input type="date" class="form-control" id="Fecha1" name="Fecha1" autocomplete="off" required>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Ingreso</label>
                            <input type="date" class="form-control" id="Fecha2" name="Fecha2" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-success btn-block btn-flat">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <form action="@Url.Action("CantidadDepartamentoFechaRespuestaPA", "ReportePrestamoAudiovisual")" id="frm" method="post">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h4 class="titulo-reporte">Reporte por fechas de respuesta</h4>
                            </div>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Respuesta</label>
                            <input type="date" class="form-control" id="Fecha1" name="Fecha1" autocomplete="off" required>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Respuesta</label>
                            <input type="date" class="form-control" id="Fecha2" name="Fecha2" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-success btn-block btn-flat">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <form action="@Url.Action("CantidadDepartamentoFechaIngresoFechaRespuestaPA", "ReportePrestamoAudiovisual")" id="frm" method="post">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <h4 class="titulo-reporte">Reporte por fechas de ingreso y respuesta</h4>
                            </div>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Ingreso</label>
                            <input type="date" class="form-control" id="Fecha1" name="Fecha1" autocomplete="off" required>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Respuesta</label>
                            <input type="date" class="form-control" id="Fecha2" name="Fecha2" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-success btn-block btn-flat">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <!--REPORTES DE GENERO-->
            <h4 class="principal-texto">Reportes de cantidad de genero de usuarios por rangos de fecha</h4>
            <div class="box box-danger">
                <div class="col-lg-4">
                    <form action="@Url.Action("CantidadGeneroFechaIngresoPA", "ReportePrestamoAudiovisual")" id="frm" method="post">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h4 class="titulo-reporte">Reporte por fechas de ingreso</h4>
                            </div>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Ingreso</label>
                            <input type="date" class="form-control" id="Fecha1" name="Fecha1" autocomplete="off" required>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Ingreso</label>
                            <input type="date" class="form-control" id="Fecha2" name="Fecha2" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-success btn-block btn-flat">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <form action="@Url.Action("CantidadGeneroFechaRespuestaPA", "ReportePrestamoAudiovisual")" id="frm" method="post">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <h4 class="titulo-reporte">Reporte por fechas de respuesta</h4>
                            </div>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Respuesta</label>
                            <input type="date" class="form-control" id="Fecha1" name="Fecha1" autocomplete="off" required>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Respuesta</label>
                            <input type="date" class="form-control" id="Fecha2" name="Fecha2" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-success btn-block btn-flat">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4">
                    <form action="@Url.Action("CantidadGeneroFechaIngresoFechaRespuestaPA", "ReportePrestamoAudiovisual")" id="frm" method="post">
                        <div class="form-group">
                            <div class="col-lg-12">
                                <h4 class="titulo-reporte">Reporte por fechas de ingreso y respuesta</h4>
                            </div>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Ingreso</label>
                            <input type="date" class="form-control" id="Fecha1" name="Fecha1" autocomplete="off" required>
                        </div>
                        <div class="form-group has-feedback col-lg-12">
                            <label>Fecha Respuesta</label>
                            <input type="date" class="form-control" id="Fecha2" name="Fecha2" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-success btn-block btn-flat">Generar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

