@model IEnumerable<Capa_Presentacion.Models.FormularioCIIE>

@{
    ViewBag.Title = "Formulario CIIE | BAL";
    string Rol = System.Web.HttpContext.Current.Session["Rol"] as String;
    if (Rol == "Administrador")
    {
        Layout = "~/Views/Shared/_Administrador.cshtml";
    }
    else if (Rol == "Administrador Consultas CIIE")
    {
        Layout = "~/Views/Shared/_AdministradorCIIE.cshtml";
    }
    else if (Rol == "Editar Consultas CIIE")
    {
        Layout = "~/Views/Shared/_EditarCIIE.cshtml";
    }
    else if (Rol == "Consultar")
    {
        Layout = "~/Views/Shared/_Consultar.cshtml";
    } 
    else
    {

    }
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="box-header">
                    <h4 class="principal-texto">FORMULARIOS CIIE</h4>
                </div>
                <div class="box-body box box-info">
                    @if (Rol == "Administrador" || Rol == "Administrador Consultas CIIE" || Rol == "Editar Consultas CIIE")
                    {
                        @Html.ActionLink(" Agregar", "Agregar", null, new { @class = "btn btn-success btn-sm fa fa-plus" })
                    }
                    else
                    {

                    }
                    <div>
                        <br />
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CodigoCIIE)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NombreSolicitante)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaIngreso)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FechaRespuesta)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CodigoCIIE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NombreSolicitante)
                                            @Html.DisplayFor(modelItem => item.ApellidoSolicitante1)
                                            @Html.DisplayFor(modelItem => item.ApellidoSolicitante2)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaIngreso)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FechaRespuesta)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Estado)
                                        </td>
                                        <td>
                                            @if (Rol == "Administrador" || Rol == "Administrador Consultas CIIE")
                                            {
                                                @Html.ActionLink(" Actualizar", "Actualizar", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fa fa-edit" })
                                                @Html.Name(" | ")
                                                <button type="button" onclick="PopupEliminar(@item.Id)" class="btn btn-danger btn-sm fa fa-trash-o" data-toggle="modal" data-target="#alertaEliminar">
                                                    Eliminar
                                                </button>
                                                @Html.Name(" | ")
                                                @Html.ActionLink(" Detalles", "Detalles", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-file-text" })
                                            }
                                            else if (Rol == "Editar Consultas CIIE")
                                            {
                                                @Html.ActionLink(" Actualizar", "Actualizar", new { id = item.Id }, new { @class = "btn btn-primary btn-sm fa fa-edit" })
                                                @Html.Name(" | ")
                                                @Html.ActionLink(" Detalles", "Detalles", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-file-text" })
                                            }
                                            else
                                            {
                                                @Html.ActionLink(" Detalles", "Detalles", new { id = item.Id }, new { @class = "btn btn-info btn-sm fa fa-file-text" })
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        @if (Rol == "Administrador")
                                        {
                                            <button type="button" class="btn btn-danger btn-sm fa fa-trash-o" data-toggle="modal" data-target="#alertaEliminarTabla">
                                                Eliminar tabla
                                            </button>
                                        }
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

<!--Formulario para eliminar-->
@using (Html.BeginForm("Eliminar", "FormularioCIIE", FormMethod.Post, new { @id = "frmEliminar" }))
{
    @Html.Hidden("Id");
}
<!-- Ventana para eliminar  -->
<div class="modal fade" id="alertaEliminar" tabindex="-1" aria-labelledby="alertaEliminar" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Estas seguro que quieres eliminar este prestamo?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" onclick="Eliminar()" class="btn btn-success">Sí</button>
            </div>
        </div>
    </div>
</div>

<!-- Formulario para eliminar tabla -->
@using (Html.BeginForm("EliminarTabla", "FormularioCIIE", FormMethod.Post, new { @id = "frmEliminarTabla" }))
{

}
<!-- Ventana para eliminar tabla -->
<div class="modal fade" id="alertaEliminarTabla" tabindex="-1" aria-labelledby="alertaEliminarTabla" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel">Estas seguro? Esta opción elimina todas las trazas de auditoria</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                <button type="button" onclick="EliminarTabla()" class="btn btn-success">Sí</button>
            </div>
        </div>
    </div>
</div>

<script>
    function PopupEliminar(Id) {
        document.getElementById("Id").value = Id;
    }

    function Eliminar() {
        var frmEliminar = document.getElementById("frmEliminar");
        frmEliminar.submit();
    }

    function EliminarTabla() {
        var frmEliminar = document.getElementById("frmEliminarTabla");
        frmEliminar.submit();
    }
</script>
